@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
:root {
    --primary: #5352ed;
    --white: #fff;
    --light: #d2dae2;
}

* {
    margin: 0;
    padding: 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 600;
    color: var(--light);
    background-color: #21232e;
}
ul {
    list-style: none;
}
.site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.options ul li {
    position: relative;
    width: 300px;
    height: 70px;
    margin-bottom: 15px;
}
.options ul li input {
    display: none;
}
.options ul li label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}
.options ul li label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 7px;
    z-index: -1;
    transform: scale(1);
    transition: border .3s, transform .3s;
}
.options ul li input:checked + label::before {
    background-color: #5352ed33;
    border-color: var(--primary);
    box-shadow: #5352ed33 0 5px 15px;
    animation: scaleborder .3s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes scaleborder {
    50% {transform: scale(1.05);}
}
.options ul li .circle {
    width: 22px;
    height: 22px;
    border: 2px solid #454861;
    background: linear-gradient(145deg, #1c1e2d, #3b4059);
    border-radius: 50%;
    scale: scale(1);
    transition: background .5s, border .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.options ul li input:checked + label .circle {
    border: 7px solid var(--primary);
    background: var(--white);
    animation: scaledot .5s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes scaledot {
    50% {
        transform: scale(1.25);
    }
}
.options ul li input:checked + label .text {
    color: var(--white);
}
.options ul li label .fireworks {
    position: absolute;
    left: 38px;
    transform: scale(0);
}
.options ul li label .fireworks::before,
.options ul li label .fireworks::after {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    box-shadow: 0 -25px 0 0 #ff8080,
                25px 0 0 0 #a4ff80,
                0 25px 0 0 #ffed80,
                -25px 0 0 0 #a480ff,
                12px -13px 0 0 #80c8ff,
                25px 25px 0 0 #ff80ed,
                -13px 12px 0 0 #80ffc8,
                -25px -25px 0 0 #ffed80;
    border-radius: 50%;  
    z-index: 10;          
}
.options ul li label .fireworks::after {
    width: 2px;
    height: 2px;
    transform: rotate(112deg);
}
.options ul li input:checked + label .fireworks {
    animation: spread 2s forwards;
    will-change: box-shadow;
}
@keyframes spread {
    0%, 10% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.2) rotate(40deg);
    }
    50% {
        transform: scale(1) rotate(40deg) skewX(-25deg);
    }
}
.options ul li input:checked + label .fireworks::before,
.options ul li input:checked + label .fireworks::after {
    width: 0;
    height: 0;
    transition: width .3s .4s, height .3s .4s;
}